# Visual Studio Code
.vscode/
.mono/
.idea/
.sublime-*/

# Vendor folders
node_modules/
jspm_packages/
bower_components/
vendor/
packages/

# Compiled code
dist/
build/
out/
bin/
obj/

# Compiled files
*.pyc
*.class
*.o
*.ko
*.a
*.exe
*.out
*.so
*.dll
*.dylib

# Log files
*.log

# Archives
*.zip
*.rar
*.gz
*.tar.gz
*.7z
*.tgz
*.bzip

# Environment variables
.env
.venv/

# Databases
*.sqlite
*.sqlite3
*.db
*.sql