[init]
        defaultBranch = main
[pull]
        rebase = true
[push]
        autoSetupRemote = true
[rebase]
        autoStash = true
[core]
        editor = vim
        excludesFile = ~/.gitignore
[commit]
        template = ~/.gitmessage
[diff]
        colorMoved = default