FROM pixnyb/%image% AS base

USER root

ENV PATH=$PATH:/home/vscode/.dotnet:/home/vscode/.dotnet/tools

COPY bin/dotnet/* /usr/local/bin
RUN chmod +x /usr/local/bin/*

# COPY templates/dotnet/* /etc/templates

ENV DOTNET_VERSION=%dotnet-version%
ENV WITH_NODE=false

USER vscode

RUN wget https://dot.net/v1/dotnet-install.sh -O dotnet-install \
    && chmod +x ./dotnet-install \
    && ./dotnet-install --channel %dotnet-version% \
    && ls -l $HOME/.dotnet \
    && dotnet --list-sdks

EXPOSE 80